@{
    Layout = "~/Views/MasterPage/AdminPanelMaster.cshtml";
}
<div class="well well-small" align="right">
    <button class="btn btn-small btn-primary" onclick="Javascript:{window.location.href='../FoodItem/FoodItemIU'}">Add Food Item</button>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Food Category")
            @Html.DropDownList("ddlCategory", (SelectList)ViewBag.CategoryFoodProductWL, "--Select--", new { id = "ddlCategory", onchange = "GetGridData()",@class="form-control" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("Vendor")
            @Html.DropDownList("ddlVendor", (SelectList)ViewBag.VendorsFoodProductWL, "--Select--", new { id = "ddlVendor", onchange = "GetGridData()", @class = "form-control" })
        </div>
    </div>
</div>
<div class="row">
    <table id="dt_basic" class="table table-striped table-bordered smart-form">
        <thead>
            <tr>
                <th style="display: none">ActivityId</th>
                <th>Food Name</th>
                <th>Food Description</th>
                <th>Base Price</th>
                <th>Category</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        DataTableManager.DataTable();
        GridBind(0, 0);
    });

    function GetGridData() {        
        GridBind();
    };

    function GridBind() {
        var Vendor = $("#ddlVendor option:selected").val();
        var Category = $("#ddlCategory option:selected").val();
        if (!Vendor > 0) { Vendor = 0; }
        if (!Category > 0) { Category = 0; }
        var oTable = $('#dt_basic').dataTable();
        if (oTable != null) {
            oTable.fnDestroy();
        }
        $("#dt_basic").dataTable({
            "aaSorting": [[0, 'desc']],
            "bServerSide": true,
            "sAjaxSource": '../FoodItemAjax/GetFoodProduct',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({
                    value: Vendor,
                    name: "VendorId"
                });
                aoData.push({
                    value: Category,
                    name: "CategoryId"
                });

                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "aoColumns": [
                { "sName": "ProductId", "sType": 'numeric', "bVisible": false },
                { "sName": "ProductName" },
                { "sName": "ProductDesc" },
                { "sName": "BasePriceDesc" },
                { "sName": "CategoryName" },
                { "sName": "VendorName" }
            ],
            "aoColumnDefs": [{
                "aTargets": [1],
                "mRender": function (data, type, full) {
                    if (type === 'display') {
                        return '<a    href="../FoodItem/FoodItemIU?product=' + full[0] + '" >' + full[1] + '</a>';
                    }
                    return data;
                }
            }]
        });
        $('#dt_basic').attr('style', 'width:100%');
    };
</script>

